<footer class="navbar sticky-bottom navbar-expand-lg navbar-dark bg-dark arriba site-footer" >
  <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca de</h6>
          <p class="text-justify">  En Kellogg siempre estamos buscando nuevas formas de ofrecerte un futuro brillante. Estamos contínuamente trabajando para ofrecerte alimentos de buena calidad que te encantarán, un compromiso que lleva la firma de nuestro fundador W.K Kellogg en todos los productos que elaboramos, por lo que la única manera de estar seguro de que das a tu familia cereales Kellogg’s es buscando la famosa firma roja en la caja.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Enlaces</h6>
          <ul class="footer-links">
            <li><a routerLink="/principal">Inicio</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
            <li><a routerLink="/login">Iniciar Sesión </a></li>
            <li><a routerLink="/registro">Registrarse</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
        
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="lab la-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="lab la-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="lab la-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="lab la-linkedin-in"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>