<app-navbar></app-navbar>

<!-- Jumbotron -->
<div class=" jumbotron jumbotron-fluid" >
    <div class="text-black text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
  
        <!-- Content -->
        <h2 class="card-title h2 my-4 py-2"><img src="../../../assets/img/kellogs.png" class="img-fluid tituloJB" alt="">
          <p class="mb-4 pb-2 px-md-5 mx-md-5">Para cuando tu madre no tiene tiempo de hacer desayuno</p>
        </h2>        
        <a href="" class="btn btn-info" role="button">Enlace</a>
  
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
  <div class="card-group">
    <div class="card" >
      <img src="../../../assets/img/marcas.jpg" style="height: 350px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Marcas</h5>
        <p class="card-text">Descubre todos los productos con los que te podemos ofrecer una gran variedad de diabetes</p>
      </div>
 
    </div>
    <div class="card" >
      <img src="../../../assets/img/promotion.jpg" style="height: 350px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Promociones</h5>
        <p class="card-text">Disfruta de nuestras divertidas promociones para ganar increibles premios y productos.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/recepie.jpg"  style="height: 350px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recetas</h5>
        <p class="card-text">Descubre nuevas e inovativas formas de disfrutar de nuestos productos con resetas ricas, saludables y divertidas de hacer con nuestro recetario :D x somos chavos</p>
      </div>    
    </div>
  </div>
  
   
  <app-footer></app-footer>