<app-navbar></app-navbar>

<div class="aaa">
    <div class="contenedor animated fadeIn fast">
   
   
     <h2>Noticias</h2>
     <ng-container *ngFor="let article of articles.slice(0, 7)">
       <img [src]='article.urlToImage' style='width:300px'>
       <header>
         <h3>{{article.publishedAt | date}}</h3>
         <h2>{{article.title}}</h2>
       </header>
     <ng-container>
       <h4>{{article.description}}</h4>
     </ng-container>
     </ng-container>
     
   </div></div>
   
   <br>
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

   
  <app-footer></app-footer>